<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neorae.wtu.module.team.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="cn.neorae.wtu.module.team.domain.Team">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="server" column="server" jdbcType="INTEGER"/>
            <result property="channel" column="channel" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="creatorUuid" column="creator_uuid" jdbcType="VARCHAR"/>
            <result property="isPublic" column="is_public" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        uuid,server,channel,
        title,status,creator_uuid,is_public
        is_deleted
    </sql>
</mapper>
