<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neorae.wtu.module.account.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.neorae.wtu.module.account.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="clanId" column="clan_id" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="onlineStatus" column="online_status" jdbcType="INTEGER"/>
            <result property="bonusXp" column="bonus_xp" jdbcType="TINYINT"/>
            <result property="bonusXpDays" column="bonus_xp_days" jdbcType="INTEGER"/>
            <result property="bonusCash" column="bonus_cash" jdbcType="TINYINT"/>
            <result property="bonusCashDays" column="bonus_cash_days" jdbcType="INTEGER"/>
            <result property="bonusItem" column="bonus_item" jdbcType="TINYINT"/>
            <result property="bonusItemDays" column="bonus_item_days" jdbcType="INTEGER"/>
            <result property="bonusDropRate" column="bonus_drop_rate" jdbcType="TINYINT"/>
            <result property="bonusDropRateDays" column="bonus_drop_rate_days" jdbcType="INTEGER"/>
            <result property="verified" column="verified" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        uuid,email,password,
        name,avatar,clan_id,
        level,online_status,bonus_xp,
        bonus_xp_days,bonus_cash,bonus_cash_days,
        bonus_item,bonus_item_days,bonus_drop_rate,
        bonus_drop_rate_days,verified,id_deleted
    </sql>
    <insert id="register" useGeneratedKeys="true">
        insert into user (email, password, uuid, online_status) values (#{email}, #{password}, #{uuid}, #{onlineStatus})
    </insert>
</mapper>
